body {
  margin: 0;
  background-color: #dcdcdc;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
  text-decoration: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 192px;
  margin: 24px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #000000;
  height: 1px;
}

input[type="range"]::-moz-range-track {
  background: #000000;
  height: 1px;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -7.5px; /* Centers thumb on the track */
   background-color: #000000;
   border-radius: 16px;
   height: 16px;
   width: 16px;
}

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 16px; /*Removes default border-radius that FF applies*/
    background-color: #000000;
    height: 16px;
    width: 16px;
}

input[type="range"]:focus {
  outline: none;
}